<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
            <div class="nav navbar-form navbar-right">
                <button class="btn btn-primary" type="button" ng-click="$ctrl.category = 'ageWise'">Age Distribution</button>
                <button class="btn btn-primary" type="button" ng-click="$ctrl.category = 'centerCount'">Center Count</button>
            </div>
            </div>
        </div>
    </nav>
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Data Analysis</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12 col-sm-12" ng-if="$ctrl.category === 'centerWise'">
                Center wise Distribution
                <div google-chart chart="myChartObject"></div>
            </div>
            <div class="col-md-12 col-sm-12" ng-if="$ctrl.category === 'ageWise'">
                Age wise Distribution
                <div google-chart chart="myAgeChartObject"></div>
            </div>
            <div class="col-md-12 col-sm-12" ng-if="$ctrl.category === 'centerCount'">
                Center Count
                <div google-chart chart="myCenterChartObject"></div>
            </div>
        </div>
    </div>
</div>