<div class="ui-grid-cell-contents">
  <button  ng-show="!row.entity.editrow && row.entity.registration_status === 0" type="button"
     class="btn btn-xs btn-primary"
     ng-click="grid.appScope.$ctrl.edit(row)">
    <i class="fa fa-edit"></i>
  </button>
  <button ng-show="row.entity.editrow" type="button" 
     class="btn btn-xs btn-success"
     ng-click="grid.appScope.$ctrl.saveRow(row)">
     <i class="fa fa-floppy-o"></i>
  </button>
  <button ng-show="row.entity.editrow" type="button" 
     class="btn btn-xs btn-danger"
     ng-click="grid.appScope.$ctrl.cancelEdit(row)">
     <i class="fa fa-times"></i>
  </button>
  <button  ng-show="!row.entity.editrow" type="button"
     class="btn btn-xs btn-warning"
     ng-click="grid.appScope.$ctrl.activate(row)">
    <i class="fa fa-exchange"></i>
  </button>
</div>
