<div ng-if="$ctrl.showImage">
    <div class="text-center" style="margin-top: 30px;" ng-click="$ctrl.enable(0)">
        <img style="height: 400px; width: 50%;" src="https://youth.dadabhagwan.org/media/215985/SC2019_YouthWeb.png"
            alt="Yuva!">
    </div>
    <div class="text-center" ng-click="$ctrl.enable(1)">
        <img style="height: 400px; width: 50%;" src="https://youth.dadabhagwan.org/media/78176/New-Yuva.png"
            alt="Yuva!">
    </div>
</div>


<div ng-if="!$ctrl.showImage">
    <div class="col-md-12 col-sm-12" ng-if="$ctrl.showList[0]">
        <div class="row alert alert-info" style="padding: 10px;">
            <div class="col-md-3 col-sm-3 text-center">
                <button class="btn btn-primary text-center" style="height: 100px; width: 200px; font-size: 30px;"
                    type="button" ng-click="$ctrl.enableImage()">GO
                    BACK</button>
            </div>
            <div class="col-md-6 col-sm-6 text-center">
                <h5 class="modal-title sup" id="modal-title" style="color: #fff; font-size: 50px;">
                    <b>Summer Camp Details</b> </h5>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <button class="btn btn-success text-center" type="button"
                    style="height: 100px; width: 200px; font-size: 30px;"
                    ng-click="$ctrl.goRegister('Summer Camp')">Register</button>
            </div>
        </div>
        <uib-accordion class="row text-center" style="font-size: 30px;">
            <div uib-accordion-group class="panel-success"
                ng-repeat="tempevent in $ctrl.events | orderBy: 'start_date'| filter:{name: 'summer'}">
                <uib-accordion-heading>
                    <div style="font-size: 40px;">
                        {{tempevent.name}} - Age Group ({{tempevent.min_age}} - {{tempevent.max_age}}) -
                        {{$ctrl.formatGender(tempevent.gender)}}
                    </div>
                </uib-accordion-heading>
                <table class="table">
                    <tbody>
                        <tr class="active">
                            <td>Event Dates: {{$ctrl.formatDate(tempevent.start_date)}} -
                                {{$ctrl.formatDate(tempevent.end_date)}}</td>
                        </tr>
                        <tr class="active">
                            <td>Registration Fees: {{tempevent.fees}}</td>
                        </tr>
                        <tr class="active">
                            <td>Last date of registration: {{$ctrl.formatDate(tempevent.last_date_of_registration)}}
                            </td>
                        </tr>
                        <tr class="active">
                            <td>Late Fees: {{tempevent.late_fees}}</td>
                        </tr>
                        <tr class="active">
                            <td>Venue: {{tempevent.venue.raw}}</td>
                        </tr>
                        <tr class="active">
                            <td>Contact: {{tempevent.remarks}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-accordion>
    </div>
    <div class="col-md-12 col-sm-12" ng-if="$ctrl.showList[1]">
        <div class="row alert alert-info" style="padding: 10px;">
            <div class="col-md-3 col-sm-3 text-center">
                <button class="btn btn-primary text-center" style="height: 100px; width: 200px; font-size: 30px;"
                    type="button" ng-click="$ctrl.enableImage()">GO
                    BACK</button>
            </div>
            <div class="col-md-6 col-sm-6 text-center">
                <h5 class="modal-title sup" id="modal-title" style="color: #fff; font-size: 50px;">
                    <b>Yuva Camp Details</b> </h5>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <button class="btn btn-success text-center" type="button"
                    style="height: 100px; width: 200px; font-size: 30px;"
                    ng-click="$ctrl.goRegister('Yuva Camp')">Register</button>
            </div>
        </div>
        <uib-accordion class="row">
            <div uib-accordion-group class="panel-success" style="font-size: 20px;"
                ng-repeat="tempevent in $ctrl.events | orderBy: 'start_date' | filter:{name: 'yuva'}">
                <uib-accordion-heading>
                    <div style="font-size: 40px;">
                        {{tempevent.name}} - Age Group ({{tempevent.min_age}} - {{tempevent.max_age}}) -
                        {{$ctrl.formatGender(tempevent.gender)}}
                    </div>
                </uib-accordion-heading>
                <table class="table">
                    <tbody>
                        <tr class="active">
                            <td>Event Dates: {{$ctrl.formatDate(tempevent.start_date)}} -
                                {{$ctrl.formatDate(tempevent.end_date)}}</td>
                        </tr>
                        <tr class="active">
                            <td>Registration Fees: {{tempevent.fees}}</td>
                        </tr>
                        <tr class="active">
                            <td>Last date of registration: {{$ctrl.formatDate(tempevent.last_date_of_registration)}}
                            </td>
                        </tr>
                        <tr class="active">
                            <td>Late Fees: {{tempevent.late_fees}}</td>
                        </tr>
                        <tr class="active">
                            <td>Venue: {{tempevent.venue.raw}}</td>
                        </tr>
                        <tr class="active">
                            <td>Contact: {{tempevent.remarks}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-accordion>
    </div>
</div>