@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
.spinner-class {
	position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
	background: rgba( 255, 255, 255, .8 )
                url('ajax_loader.gif')
                50% 50%
                no-repeat;
}
.cs-dropdown {
  height: 30px;
}
.modal
{
    display: block;
    overflow: visible
}
