@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
.spinner-class {
	position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
	background: rgba( 255, 255, 255, .8 )
                url('ajax_loader.gif')
                50% 50%
                no-repeat;
}
.cs-dropdown {
  height: 30px;
}
.modal
{
    display: block;
    overflow: visible
}
#scrollable-dropdown-menu ul {
	max-height: 150px;
	overflow-y: auto;
}
.my-css-class { background-color: #b9b4b4 !important; }
input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}